@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "OpenSans", sans-serif;
  --font-family-600: "OpenSans-SemiBold", sans-serif;
  --font-family-700: "OpenSans-Bold", sans-serif;
  --font-family-800: "OpenSans-ExtraBold", sans-serif;
  --second-family: "Bebas Neue", sans-serif;
  --primary: #00a4e5;
  --subprimary: #48555b;
}


html {
  box-sizing: border-box;
  overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
  transition: .5s all;
}

button {
  width: 150px;
  height: 40px;
  background: var(--primary);
  border: none;
  text-transform: uppercase;
  color: white;
  font-family: var(--font-family-700);
  font-size: 13px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

button:hover {
  color: var(--subprimary);
}

.slide1 {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center center;
  color: white;
}

.slide1>.container {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container>div {
  margin-left: auto;
  margin-right: auto;
  width: 941px;
}

.logo {
  width: 102px;
  display: flex;
  height: 73px;
  align-items: flex-end;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
}

.center>h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 0.11em;
  text-align: center;
  line-height: 60px;
}

.center>p {
  font-family: var(--font-family-600);
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.7px;
  margin-top: 19px;
}

.slide1 .bottom {
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.49em;
  margin-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin: 0 auto;
}


.header .logo {
  height: inherit;
  display: block;
}

.header .logo a {
  height: inherit;
  display: flex;
}

.navs {
  max-width: 50%;
}

.navs>ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.navs>ul li {
  max-width: 100px;
  height: 48px;
  display: flex;
  align-items: center;
}

.navs>ul li a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  color: var(--subprimary);
  text-decoration: none;
  text-transform: uppercase;
  padding: 24px 0 24px 31px;
}


.navs>ul li a:hover {
  color: var(--primary);
}

.navs>ul li a.active {
  color: var(--primary);
}


.about_title {
  font-family: var(--font-family-700);
  font-size: 18px;
  letter-spacing: 0.13em;
  color: var(--subprimary);
  text-transform: uppercase;
  text-align: center;
  margin-top: 57px;
}

h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: var(--primary);
  display: block;
}

.about_title::after {
  margin: 10px auto 0;
}


.about {
  display: flex;
  justify-content: space-between;
}

.about .text {
  width: 43%;
}

.about .text h3 {
  font-family: var(--font-family-700);
  font-size: 20px;
  letter-spacing: 0.01em;
  color: var(--subprimary);
  margin-top: 54px;
}

.about .text h3 .blue {
  color: var(--primary);
}

.about .text p {
  font-family: var(--font-family);
  font-size: 13px;
  letter-spacing: 0.01em;
  color: var(--subprimary);
  margin-top: 28px;
  line-height: 24px;
}

.imgs {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 83px;

}

hr {
  height: 0px;
  border-bottom: 1px solid #e6e6e6;
  border-top: none;
  width: 99%;
  position: absolute;
  left: 0.5%;
}

.capabilities {
  display: flex;
  margin-top: 118px;
}

.capabilities h2.capabilities_title {
  width: 354px;
  height: 25px;
  color: var(--subprimary);
  font-size: 18px;
  letter-spacing: 0.13em;
  font-family: var(--font-family-700);
  text-transform: uppercase;
}

.capabilities_title::after {
  margin-top: 10px;
}

.capabilities>p {
  font-family: var(--font-family);
  font-size: 11px;
  letter-spacing: 0.02em;
  color: var(--subprimary);
  width: 405px;
  line-height: 19px;
}

.capabilities>button {
  margin-left: 35px;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
  margin-top: 75px;
}

.services .card {
  border: 1px solid #e6e6e6;
  padding: 38px 16px 38px 23px;
}

.services .card h3 {
  font-family: var(--font-family-700);
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #48555b;
  margin-top: 22px;
  line-height: 24px;
}

.services .card p {
  font-family: var(--font-family);
  font-size: 13px;
  letter-spacing: 0.01em;
  color: var(--subprimary);
  margin-top: 13px;
  line-height: 23px;
}

.getintouch {
  width: 100vw;
  height: 500px;
  background-image: url(../img/getintouch.jpg);
  background-repeat: no-repeat;
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center 100%;
  background-size: cover;
}

.getintouch>.container>h1 {
  margin-top: -4px;
  font-family: var(--font-family-700);
  font-size: 30px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #48555b;
  padding-top: 120px;
  width: 350px;
  margin-bottom: 32px;
  line-height: 39px;
}

.signup {
  width: 100vw;
  height: 94px;
  background: #171819;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup>.container>.form {
  display: flex;
  align-items: center;
  max-width: max-content;
}

.signup>.container>.form>p {
  font-family: var(--font-family-700);
  font-size: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin-right: 55px;
  display: inline;
}

.signup>.container>.form>input {
  border: 1px solid #979797;
  width: 233px;
  height: 40px;
  font-family: var(--font-family);
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #48555b;
  border: none;
  padding-left: 16px;
}

.footer {
  background: #141a20;
  padding: 13px 0;
  width: 100vw;
}

.title {
  font-family: var(--font-family);
  font-size: 11px;
  letter-spacing: 0.08em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer>.container {
  flex-direction: row;
  align-items: baseline;
  gap: 74px;
  width: 957px;
  margin: 0 auto;
}

.main,
.links,
.contact_us {
  margin-left: 0;
  margin-right: 0;
  width: 250px;
  margin-top: 31px;
}

.main>p,
.contact_us>p {
  font-family: var(--font-family);
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #fff;
  margin-top: 15px;
  line-height: 16px;
  width: inherit;
}

.uls {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 34px;
}

.uls>ul {
  list-style: none;
  font-family: var(--font-family-600);
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #fff;
  text-transform: uppercase;
  line-height: 24px;
}

.socials>img {
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.copyrights {
  width: 100vw;
  height: 60px;
  display: flex;
  background: #171819;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  font-family: var(--font-family);
  font-size: 11px;
  letter-spacing: 0.08em;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 80%;
  }

  .getintouch {
    width: 100vw !important;
    margin-left: calc(-50vw + 50%) !important;
    left: 0;
  }

  .signup {
    width: 100vw !important;
    margin-left: calc(-50vw + 50%) !important;
    left: 0;
  }
}

@media screen and (max-width: 1060px) {
  .container>div {
    width: 100%;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .text {
    width: 100%;
  }

  .services {
    grid-template-columns: 1fr 1fr;
  }

  .services .card:nth-child(3) {
    grid-column: span 2;
  }

  .footer>.container {
    gap: 2%;
    width: 90%;
  }
}

/* @media screen and (max-width: 958px) {} */

@media screen and (max-width: 850px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .navs {
    max-width: 100%;
  }

  .about_title {
    margin-top: 100px;
  }

  .capabilities {
    flex-direction: column;
    align-items: center;
  }

  .capabilities>p {
    width: auto;
    margin-top: 54px;
  }

  .capabilities>button {
    margin-left: 0;
    margin-top: 20px;
  }

  .capabilities_title {
    width: auto !important;
  }

  .footer>.container {
    flex-direction: column;
  }

  .footer>.container>.main,
  .footer>.container>.links,
  .footer>.container>.contact_us,
  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90% !important;
    text-align: center;
  }

  .socials>.title {
    display: none;
  }

  .socials {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  .services {
    grid-template-columns: 1fr;
  }

  .services .card {
    grid-column: span 3 !important;
  }
}

@media screen and (max-width: 450px) {
  .about_title {
    margin-top: 150px;
  }

  .container>div {
    width: 90%;
  }

  .center>h1 {
    font-size: 3rem;
  }

  .imgs {
    gap: 5%;
    width: inherit;
  }

  .imgs>img {
    width: 30%;
  }

  .signup {
    padding: 40px 0;
  }

  .form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .signup>.container>.form>p {
    margin-right: 0;
  }

  .getintouch>.container>h1 {
    width: inherit;
  }
}